{% if page is defined%}
    {% if page > 0 %}
        {% if searchTerm is defined%}
            <a class="page pageprev" href="?page={{ page-1 }}&s={{ searchTerm }}">P치gina Anterior</a>
        {% else %}
            <a class="page pageprev" href="?page={{ page-1 }}">P치gina Anterior</a>
        {% endif %}
    {% endif %}
    {% if searchTerm is defined%}
        <a class="page pageprev" href="?page={{ page+1 }}&s={{ searchTerm }}">P치gina Siguiente</a>
    {% else %}
        <a class="page pageprev" href="?page={{ page+1 }}">P치gina Siguiente</a>
    {% endif %}
{% endif %}