{% extends 'layout/admin.twig' %}
{% block content %}
    <div id="main-content" class="row">
        <h2>Admin - Posts</h2>
        {% include 'admin_menu.twig'%}
        <form method="get" action="{{ path("adminPosts") }}">
            <div class="input-group">
                <input name="s" type="text" class="form-control" placeholder="Búsqueda...">
        <span class="input-group-btn">
            <input id="submit" type="submit" class="btn btn-default" value="Buscar">
        </span>
            </div>
        </form>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
                </thead>
                {% for post in posts %}
                <tr>
                    <td>{{post.title}}
                    <td>
                        <a href="{{ path('editPost',{'slug':post.slag}) }}">Edit</a>
                        <a href="{{ path('deletePost',{'slug':post.slag}) }}">Delete</a>
                        <a target="_blank" href="{{ path('post',{'slug':post.slag}) }}">View online</a>
                        <a href="{{ path('editFirebaseNotification',{'slug':post.slag}) }}">Send firebase</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% include 'common/paginator.twig'%}
    </div>
{% endblock %}
{% block left %}
{% endblock %}
