{% extends 'layout/list.twig' %}
{% block content %}
    <div id="main-content" class="row">
        {% set postNumber = 1 %}
        {% for post in posts %}
            <div class="post">
            <h2><a href="{{post.slag}}">{{post.title}}</a></h2>
            <span>{{post.date | date('d/m/Y')}}</span>
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl={{ app.url }}/{{post.slag}}&amp;"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_google_plus"></a>
                <a class="a2a_button_whatsapp"></a>
                <a class="a2a_button_tuenti"></a>
            </div>
            <script>
                var a2a_config = a2a_config || {};
                a2a_config.linkurl = "{{ app.url }}/{{post.slag}}";
            </script>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->
            <span><a class="original" href="{{post.link}}">{% if app.text_original is defined %}{%else%}Artículo original{%endif%}</a></span>
            <p>{{post.content | raw}}</p>
            {% if postNumber == 1 %}
                {{ app.banner_between_posts|raw  }}
            {% endif %}
            {% set postNumber = postNumber + 1 %}
            </div>
        {% endfor %}
        {% include 'common/paginator.twig'%}
    </div>
{% endblock %}
{% block left %}
    {% include 'common/left.twig' %}

{% endblock %}

