{% extends 'layout/single.twig' %}
{% block content %}
    <div id="main-content" class="row">
        {% for post in posts %}
            <h2><a href="{{post.slag}}">{{post.title}}</h2>
            <span>{{post.date}}</span>
            <span><a href="{{post.link}}">Artículo original</span>
            <p>{{post.content | raw}}</p>
        {% endfor %}
    </div>
{% endblock %}

