{% extends 'layout/single.twig' %}
{% block content %}
    <div id="main-content" class="row">
            <h1><a href="{{post.slag}}">{{post.title}}</a></h1>
            <span>{{post.date | date('d/m/Y')}}</span>
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl={{ app.url }}/{{post.slag}}&amp;linkname="></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_google_plus"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_button_tuenti"></a>
        </div>
        <script>
            var a2a_config = a2a_config || {};
            a2a_config.linkurl = "";
        </script>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
            <span><a href="{{post.link}}">Artículo original</a></span>
            <p>{{post.content | raw}}</p>
    </div>
{% endblock %}
{% block left %}
{% endblock %}
