<head>
    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%  include 'common/seo.twig' %}
     <title>{{ app.name }}
    {% if post is defined %}
        - {{ post.title }}
    {% endif %}
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   

    {{ app.yandex_verification|raw }}
    {{ app.google_verification|raw }}
    {{ app.bing_verification|raw }}
    {{ app.analytics|raw }}
    {{ app.banner_mobile|raw }}

    <link rel="stylesheet" href="{{ app.request.basePath }}/style.css">

    <style type="text/css" media="screen">
        {{ app.custom_css|raw }}
    </style>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes-umd.min.js" async></script>

    <script>
        $(document).ready(function () {
            $('img').addClass('lazyload');
        });
    </script>
    
</head>
