<head>
    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%  include 'common/seo.twig' %}
     <title>{{ app.name }}
    {% if post is defined %}
        - {{ post.title }}
    {% endif %}
    </title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


    {{ app.yandex_verification|raw }}
    {{ app.google_verification|raw }}
    {{ app.bing_verification|raw }}
    {{ app.analytics|raw }}
    {{ app.banner_mobile|raw }}

    <style type="text/css" media="screen">
        {{ app.custom_css|raw }}
        body
        {
           font-size: 20px;
            color: black;
            text-shadow: .5px .5px #ddd;
            font-family:Arial,Helvetica,sans-serif;
        }

        .navbar{
            background: #222;
            border-radius: 0px  0px 10px 10px;

        }

        h1, h1 a{
            color:white;
            font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        }
        h1, h1 a:hover{
            color:darkgrey;
        }

        .navbar {
            min-height: 100px;
        }

        body{
            background-color:#F2F4F6;
        }

        em{
            color:#ccc;
            letter-spacing: 2px;
            font-family: fantasy;
        }

        p
        {
            font-size: 13px;
        }

        a:hover{
            text-underline-mode: none;
            text-decoration: none;
        }

        .post h2
        {
            font-size: 36px;
        }

        h2 a{
            color: #222;
            font-family: fantasy;
        }

        .pager a
        {
            text-shadow: 0.5px 0.5px #777;
            color:black;
        }
        .categories .nav li
        {

            background-color: #3c3c3c;
            border-radius: 2px;

        }

        .categories .nav li a
        {
            color:white;
            font-size: 18px;
            padding: 0px 10px;

        }

        .categories .nav li a:first-letter
        {
            color:#ffcc00;
            font-size: 20px;

        }

        .categories .nav li a:hover
        {
            background-color: #6c6c6c;
            color:#ffcc00;
        }

        .page{
            background-color: #3c3c3c;
            padding: 10px;
            margin: 10px;
            color:white;
            width: 45%;
        }

        img{
            border-radius: 20px;
            border-radius: 20px;
            width: 100%;
            max-height: 400px;
            object-fit: cover;
        }

        .module{

        }
        .module h2{
            text-align: center;
            padding:5px;
            margin:5px;
        }

        .module{padding: 15px;}

        .module ul{padding: 0;}

        .module ul li{
            list-style-type: none;
            padding:5px 10px;
            text-align: justify;
        }

        .module ul li + li{
            border-top: 1px solid #000;
        }

	.module ul li a {
color:#4792BF !important;
}

        .post + .post{
            border-top: 2px solid #F2F4F6;
        }

        .post *{
color:rgb(17,17,17) !important;
font-size:1em;
font-family: "Charter, Georgia, serif";
}

.post h2 {
color:#111111;
font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-weight: 700;
}

.post a{
color:#4792BF !important;
}

.post h2 a{
color:#4792BF !important;
font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.post span{font-height:700;   font-style: italic;color:#555 !important;}

        .rss {margin: 5px 15px;}

        .rss {margin: 5px 15px;}

        .placeholder-app {
            text-align: center;
            display: inline-block;
            width: 30%;
        }

        .placeholder-app a {
            font-size: .8em;
        }

        .module,.post{

            padding:10px;
            margin:10px;

        }

        .post{
            background-color:#FFF;
            border-radius: 20px;
        }

        a {
            color: #337ab7;
            text-decoration: none;
        }

        .box {
            border: #CCC solid 1px;
            padding: 1em;
            margin: 1em 0em;
            box-shadow: 5px 5px 5px #CCC;
        }
        .gpt *{
            margin: 10px 0px;
        }


    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes-umd.min.js" async></script>

    <script>
        $(document).ready(function () {
            $('img').addClass('lazyload');
        });
    </script>

</head>
