{% if app.banner_up is defined %}
<div class="module">
    <center>
        {{ app.banner_up|raw }}
    </center>
</div>
{% endif %}
<div class="module">
<script async src='https://cse.google.com/cse.js?cx=partner-pub-6904186947817626:1623071591'></script><div class="gcse-searchbox-only"></div>
</div>
{% if lastPosts is defined %}
<div class="module">
<h2>Últimos posts</h2>
    <ul>
    {% for lastPost in lastPosts %}
        <li>
            <a href="{{ path('post', {'slug' : lastPost.slag}) }}">{{ lastPost.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% if app.email is defined %}
    <div class="module">
        <h2>Contacto</h2>
        <p class="contact">
            <strong>Email: </strong><span><a href="mailto:{{ app.email }}">{{ app.email }}</a></span>
        </p>
    </div>
{% endif %}
