<div class="module">
    <center>
        {{ app.banner_up|raw }}
    </center>
</div>
<div class="module">
<form method="get" action="{{ app.url }}">
    <div class="input-group">
        <input name="s" type="text" class="form-control" placeholder="Búsqueda...">
        <span class="input-group-btn">
            <input id="submit" type="submit" class="btn btn-default" value="Buscar">
        </span>
    </div>
</form>
</div>
{% if lastPosts is defined %}
<div class="module">
<h2>Últimos posts</h2>
    <ul>
    {% for lastPost in lastPosts %}
        <li>
            <a href="{{ path('post', {'slug' : lastPost.slag}) }}">{{ lastPost.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% if app.email is defined %}
    <div class="module">
        <h2>Contacto</h2>
        <p>
            <span>{{ app.email }}</span>
        </p>
    </div>
{% endif %}
