{%if app.request.get('isApp') != '1' %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
<div class="row">
    <div class="col-sm-9">
            <div>
                <h1><a href="{{ path('home') }}">{{ app.name }}</a></h1>
                <em>{{ app.description }}</em>
            </div>
    </div>
    <div class="col-sm-3">
        {% if app.email is defined %}
            <em>Contacto: </em><span><a href="mailto:{{ app.email }}">{{ app.email }}</a></span>
        {% endif %}
    </div>
  </div>
        </div>
    </nav>
{% else %}
    <style>
        body{
            padding-top:0px;
        }
    </style>
    <div class="module">
        <form method="get" action="{{ app.url }}">
            <div class="input-group">
                <input name="isApp" type="hidden"  value="1">
                <input name="s" type="text" class="form-control" placeholder="Búsqueda...">
                <span class="input-group-btn">
            <input id="submit" type="submit" class="btn btn-default" value="Buscar">
        </span>
            </div>
        </form>
    </div>
{% endif %}
